
/*  LOGIN - navbar  */
#navbar_user .navbar-form.navbar-right .form-group, #btn_login{
    margin-right: 5px;
}
.navbar{
    border-radius: 0;
}

#label_username{
    color:#FFF;
    font-size: 24px;
    display:inline-block;
    margin-right: 15px;
}

#list_games_header{
    width:80%;
    display: inline-block;
    vertical-align: bottom;
}

#create_game{
    width:19.6%;
    display: inline-block;
    vertical-align: bottom;
}
#btn_create_game{
    width:100%;
}
#txt_create_game{
    margin-bottom:15px;

}

#table_list_games{
    margin-top:15px;
}


/*  GAME    */
#game_view{
    width:100%;
    height:900px;
    /*  background: #088A29; */
    margin-bottom:100px;
}
#user4_info{
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    width:200px;
    height:50px;
    border: 1px solid #000;
    float:left;
}
#user3_info{
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    width:200px;
    height:50px;
    margin:0 auto 50px auto;
    border: 1px solid #000;
}
#user2_info{
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    width:200px;
    height:50px;
    border: 1px solid #000;
    float:right;
    margin-top:-100px;
}
#user3{
    text-align: center;
    width:69%;
    height:100px;
    margin:0 auto;
}
#user2{
    width:12%;
    height:400px;
    float: right;
}
#user4{
    width:12%;
    height:400px;
    float: right;
}
#user1{
    text-align: center;
    width:69%;
    height:100px;
    margin:0 auto;
    clear:both;
}
#user1_info{
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    width:200px;
    height:50px;
    margin:50px auto 0 auto;
    clear:both;
    border: 1px solid #000;
}

#central_zone{
    width: 76%;
    height:400px;
    float: right;
}
#central_ingame{
    height:200px;
    width: 400px;
    float: right;
}

#user3_ingame{
    height: 133px;
    min-height: 133px;
    text-align: center;
}
#user2_ingame{
    width: 100px;
    min-height: 133px;
    float: right;
}
#user4_ingame{
    width: 100px;
    min-height: 133px;
    float: left;
}
#user1_ingame{
    text-align: center;
    height: 133px;
    min-height: 133px;
    clear:both;
}

.single_card{
    width: 100px;
    height: 133px;
}


.multiple_cards{
    position: relative;
    width:65px;
    height: 90px;
    margin-right:-25px;
}

.animation_my_cards{
    transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    opacity: 1 !important;
}

.animation_my_cards:hover{
    margin-top:-25px;
}
.disabled{
    opacity: 0.7;
}

.card_rotateLeft_wrap{
     float:right;
     height: 65px;
     width: 90px;
     margin-bottom:-35px;
 }
.multiple_cards_rotateLeft{
    height: 90px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

.card_rotateRight_wrap{
    float:left;
    height: 65px;
    width: 90px;
    margin-bottom:-35px;
}
.multiple_cards_rotateRight{
    height: 90px;
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */
}

.turn{
    background: #151B54;
}

.label_player{
    margin-top:10px;
}

#scores_info{
    text-align: center;
    float:right;
    width:200px;
    margin-top:-130px;
    color: #FFF;
}
#scores_info > tbody > tr{
    height: 40px;
}

#scores_result{
    float:right;
    width:200px;
    margin: -35px 25px 5px 0;
    border: 1px solid #FFF;
    color: #FFF;
}

#scores_result > tbody > tr{
    height: 40px;
}

.ui-dialog{
    z-index: 99;
    background: #FFF !important;
}
button.ui-button{
    display:none;
}

#section_chat{
    height:250px;
    margin-top: 100px;
    margin-bottom: 50px;
    border: solid 1px #000;
}
#msg_chat{
    height:200px;
    overflow: scroll;
}

#msg_chat > p{
    margin-bottom: 3px !important;
}

#section_write{
    border: 1px solid #000;
    height:50px;
}
#input_msg_chat{
    width: 90%;
}
