<div class="page-header">
    <h1><%=game.get('name')%></h1>
</div>
<div id="game_view" style="background-image: url('images/fons_tapete.jpg');">
    <div style="height:50px;width:100%"></div>
    <div id="user4_info"><p class="label_player"> </p></div>
    <div id="user3_info"><p class="label_player"> </p></div>
    <div id="user2_info"><p class="label_player"> </p></div>
    <div id="user3"></div>
    <div id="user2"></div>
    <div id="central_zone">
        <div id="user3_ingame"></div>
        <div id="user2_ingame"></div>
        <div id="user4_ingame"></div>
        <div id="user1_ingame"></div>
    </div>
    <div id="user4"></div>
    <div id="user1"></div>
    <div id="user1_info"><p class="label_player"> <%= user.username %> </p></div>
    <table class="table table-bordered" id="scores_info">
        <thead>
            <th>Master</th>
            <th>Delegate?</th>
            <th>Trumf</th>
            <th>Factor</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table" id="scores_result">
        <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tbody>
    </table>
    <div id="section_chat">
        <div id="msg_chat"></div>
        <div id="section_write">
            <input id="input_msg_chat" type="text">
            <button id="btn_enviar_msg" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</div>
<div style="text-align:center; display:none" id="dialog-trumfar" title="">
    <p>Select trumph</p>
    <img id="Coins_trumph" src="images/Coins1.png">
    <img id="Cups_trumph" src="images/Cups1.png">
    <img id="Swords_trumph" src="images/Swords1.png">
    <img id="Clubs_trumph" src="images/Clubs1.png">
    <img id="botifarra_trumph" src="images/Botifarra.png">
    <button id="delegate_trumph" class="btn btn-primary btn-lg"> Delegate </button>
</div>

<div style="text-align:center; display:none" id="dialog-contrar" title="">
    <p>Do you want to contrar?</p>
    <button id="yes_contrar" class="btn btn-success btn-lg"> YES </button>
    <button id="no_contrar" class="btn btn-danger btn-lg"> NO </button>
</div>

<div style="text-align:center; display:none" id="dialog-recontrar" title="">
    <p>Do you want to recontrar?</p>
    <button id="yes_recontrar" class="btn btn-success btn-lg"> YES </button>
    <button id="no_recontrar" class="btn btn-danger btn-lg"> NO </button>
</div>

<div style="text-align:center; display:none" id="dialog-santvicentar" title="">
    <p>Do you want to santvicentar</p>
    <button id="yes_santvicentar" class="btn btn-success btn-lg"> YES </button>
    <button id="no_santvicentar" class="btn btn-danger btn-lg"> NO </button>
</div>
<div style="text-align:center; display:none" id="dialog-recollir" title="">
    <p>Collect cards</p>
    <button class="btn btn-primary" id="btn_recollir">Collect</button>
</div>
<div style="text-align:center; display:none" id="dialog-endGame" title="">
    <p>Han guanyat: </p>
    <button class="btn btn-primary" id="btn_tornar">Tornar</button>
</div>