<table class="table table-striped" id="table_list_games">
    <thead>
        <th>Name</th>
        <th>User 1</th>
        <th>User 2</th>
        <th>User 3</th>
        <th>User 4</th>
    </thead>
    <tbody id="game_rows">
        <%
        // repeat items
        items.each(function(item,key,list) {
        %>
        <tr>
            <td>
                <p class="info" style="display:none"><%=item.get('id')%></p>
                <p class="name_game"><%= item.get('name') %></p>
            </td>
            <td>
                <p class="info" style="display:none">1</p>
                <p class="user_game">
                    <% if(item.get('user1')==undefined){%> <button id="btn_join_user1" class="btn btn-primary"> Join </button>  <%}else{%> <%=item.get('user1').username%> <% } %>
                </p>
            </td>
            <td>
                <p class="info" style="display:none">2</p>
                <p class="user_game">
                    <% if(item.get('user2')==undefined){%> <button id="btn_join_user2" class="btn btn-primary"> Join </button>  <%}else{%> <%=item.get('user2').username%> <% } %>
                </p>
            </td>
            <td>
                <p class="info" style="display:none">3</p>
                <p class="user_game">
                    <% if(item.get('user3')==undefined){%> <button id="btn_join_user3" class="btn btn-primary"> Join </button>  <%}else{%> <%=item.get('user3').username%> <% } %>
                </p>
            </td>
            <td>
                <p class="info" style="display:none">4</p>
                <p class="user_game">
                    <% if(item.get('user4')==undefined){%> <button id="btn_join_user4" class="btn btn-primary"> Join </button>  <%}else{%> <%=item.get('user4').username%> <% } %>
                </p>
            </td>
        </tr>
        <%
        });
        %>
    </tbody>
</table>